import { Controller,Get,Post,Put,Patch,Delete,Inject } from '@codex-js/core';

import {{ModuleName}}Service from './{{ModuleName}}.Service.js';




@Controller("/")
class {{ModuleName}}Controller {

@Inject({{ModuleName}}Service)
private  Service!: {{ModuleName}}Service;
  

  
}

export default {{ModuleName}}Controller;
